* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    background-image: linear-gradient(268deg,
            #dbdcd7 0%,
            #dddcd7 24%,
            #e2c9cc 30%,
            #e7627d 46%,
            #b8235a 59%,
            #801357 71%,
            #3d1635 84%,
            #1c1a27 100%);
    font-family: "Segoe UI", sans-serif;
    color: white;
    position: relative;
}

.container {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 3rem;
    margin-bottom: 30px;
}

.boxes {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    flex-wrap: wrap;
}

.box {
    cursor: pointer;
    background-image: linear-gradient(135deg, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
    border: 1px solid pink;
    border-radius: 10px;
    padding: 20px 30px;
    backdrop-filter: blur(6px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.box:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 15px 4px papayawhip;
    border-color: pink;
}

/* Reponsive */

@media (max-width: 746px) {
    body {
        overflow: visible;
    }

    .boxes {
        grid-template-columns: repeat(2, 1fr);
    }

    .container {
        height: 180vh;
    }
}

@media (max-width: 480px) {
    body {
        overflow: visible;
    }

    .boxes {
        grid-template-columns: repeat(1, 1fr);
    }

    .container {
        height: 375vh;
    }
}

@media (max-width: 320px) {
    h1 {
        font-size: 2rem;
    }
}