* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    background-image: url(images/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Segoe UI", sans-serif;
    color: #e0e0ff;
    position: relative;
}

.container {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 3rem;
    margin-bottom: 30px;
    background: linear-gradient(90deg, #ff00cc, #3333ff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.boxes {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    flex-wrap: wrap;
}

.box {
    cursor: pointer;
    background: linear-gradient(135deg, #3b0066, #8a2be2);
    border-radius: 10px;
    padding: 20px 30px;
    backdrop-filter: blur(6px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.box:hover {
    transform: translateY(-10px);
    background-color: linear-gradient(135deg, #ff00cc, #3333ff);
    box-shadow: 0 0 15px #ff00cc;
}

/* Reponsive */

@media (max-width: 746px) {
    body {
        overflow: visible;
    }

    .boxes {
        grid-template-columns: repeat(2, 1fr);
    }

    .container {
        height: 248vh;
    }
}

@media (max-width: 480px) {
    body {
        overflow: visible;
    }

    .boxes {
        grid-template-columns: repeat(1, 1fr);
    }

    .container {
        height: 488vh;
    }
}

@media (max-width: 320px) {
    h1 {
        font-size: 2rem;
    }
}