@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     font-family: "Poppins", sans-serif;
}

html,
body {
     height: 100%;
     width: 100%;
     background-color: #fafafa;
}

.container {
     max-width: 1300px;
     margin: 0 auto;
     padding: 16px;
}

h1 {
     font-size: 40px;
     margin-top: 50px;
     font-weight: 600;
     font-family: "Montserrat", sans-serif;
}

a {
     color: #000;
     text-decoration: none;
}

.wrapper {
     display: flex;
     align-items: center;
     gap: 24px;
     flex-wrap: wrap;
}

.card {
     padding: 20px;
     border-radius: 20px;
     box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
     margin-top: 30px;
     min-height: 280px;
     width: 380px;
     transition: 300ms linear;
     cursor: pointer;
}

.card:hover {
     transform: scale(1.02);
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card img {
     height: 50px;
}

.card h2 {
     font-size: 14px;
     font-weight: 600;
     margin-bottom: 16px;
     margin-top: 5px;
}

.card p {
     font-weight: 500;
     margin-bottom: 24px;
     font-size: 12px;
     text-transform: capitalize;
}

.card .btns {
     display: flex;
     flex-direction: column;
     width: 100%;
     gap: 10px;
}

.card .btn {
     background-color: #e5e5e5;
     color: black;
     font-weight: 600;
     font-size: 14px;
     padding: 10px 20px;
     border-radius: 30px;
     text-align: center;
     width: 100%;
     transition: 300ms linear;
}

.card .btn:hover {
     background-color: black;
     color: #fff;
}